/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 55px !important;
}

/* HEADER TOP */
.header_top .navbar {
    background-color: #0d369f !important;
}

.header_top .navbar a {
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
    transition: all 0.5s;
}

.header_top .navbar a:hover {
    color: #ff6e65 !important;
}

header {
    position: sticky;
    top: 0;
    z-index: 999999999;
}

header .fa-solid {
    position: absolute;
    color: #0d369f;
    right: 5px;
    top: 15px;
    padding: 0px 20px 0px 0px;
}

header .navbar-brand {
    font-size: 26px;
    color: #0d369f;
    font-weight: 600;
}

header .navbar-brand span {
    transition: all 0.5s;
}

header .navbar-brand span:hover {
    color: #FF6E65;
}

header .navbar-nav .nav-item {
    padding: 0 6px;
    transition: all 0.5s ease;
    position: relative;
}

header .navbar-nav .nav-link {
    padding: 6px 0;
    font-size: 16px;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.5s;
}


header .navbar-nav .nav-link:hover,
header .navbar-nav .dropdown-item:hover {
    color: #ff6e65;
}

header span {
    margin-left: 5px;
}

header .nhap {
    font-size: 15px;
    color: black;
    border: none;
    background: transparent;
    padding: 10px 20px;
    width: 100%;
    border-radius: 30px;
    border: 2px solid #eee;
}

header .nhap:focus {
    outline: none;
}

/* CAROUSEL */

.carousel {
    background-image: url("./../img/bg4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
}

.about_carousel_content {
    padding-top: 130px;
}

/* MISSION */
.mission {
    padding: 100px 0;
}

.mission .white-popup {
    position: relative;
    padding: 20px;
    width: auto;
    max-width: 750px;
    margin: 40px auto;
}

.white-popup iframe {
    width: 100%;
    height: 480px;
    display: block;
    border-radius: 10px;
}

a.open-popup-link {
    padding: 15px 30px 15px 30px;
    font-size: 40px !important;
    transition: all 0.5s;
}

a.open-popup-link:hover {
    padding: 17px 35px 17px 35px;
    font-size: 50px !important;
}

.mfp-close {
    color: white !important;
}

/* NUMBER */

.number {
    padding: 48px 0;
}

.number .number_item {
    border-right: 1px solid rgba(194, 188, 188, 0.492);
}

.number .number_item:nth-child(4) {
    border-right: none;
}

.number .number_title p {
    color: #707070;
}

.number .number_content h3 {
    font-size: 46px;
    font-weight: 600;
}

/* GROUP */
.group {
    background-color: #f8f9ff;
    padding: 100px 0;
}

.group_item {
    background-color: white;
    padding: 40px 20px;
    border-radius: 10px;
    border: 1px solid #eee;
}

.group_item .fa-face-smile {
    color: #0abf53;
    background: rgb(10 191 83 / 10%);
}

.group_item .fa-graduation-cap {
    color: #ffc947;
    background: rgb(255 201 73 / 22%);
}

.group_item .fa-users {
    color: #ff4f81;
    background: rgb(255 79 129 / 15%);
}

.group_item i {
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
}

.group .group_title {
    margin-bottom: 48px;
}

.group .group_title h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
}

.group .group_title h3::before {
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
    left: -20px;
    bottom: -8px;
}

.group .group_title h3::after {
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
    left: 20px;
    bottom: -15px;
}

.group .group_item h5 {
    margin-top: 24px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
}

.group .group_item h5:hover {
    color: #ff6e65;
    cursor: pointer;
}

.group .group_item p {
    margin-top: 15px;
    font-size: 16px;
    color: #707070;
    line-height: 28px;
    letter-spacing: 0.4;
}

/* teacher */
.teacher {
    padding: 100px 0;
}

.teacher .teacher_title {
    margin-bottom: 48px;
}

.teacher .teacher_title h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
}

.teacher .teacher_title h3::before {
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
    left: -20px;
    bottom: -8px;
}

.teacher .teacher_title h3::after {
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
    left: 20px;
    bottom: -15px;
}

.teacher .teacher_item {
    padding: 0 15px;
}

.teacher .content img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.teacher .content {
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    padding: 10px;
    background: white;
    border-radius: 8px;
}

.teacher .content h5 {
    font-weight: 600;
    color: black;
}

.teacher .content p {
    font-size: 13px;
    color: #707070;
}

.teacher .content_img {
    position: relative;
    margin-bottom: 24px;
}

.teacher .content_icon {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(8 8 8 / 29%);
    padding: 20px 0;
    text-align: center;
    transform: translateY(70px);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.5s ease, opacity 0.5s ease, visibility 0.5s ease;
}

.teacher .content:hover .content_icon {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.teacher .content:hover h5 {
    color: #ff6e65;
}

.teacher .content_icon a {
    background: #fff;
    width: 28px;
    height: 28px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 8px;
}

.teacher .content_icon i {
    color: #0d369f;
    font-size: 14px;
    line-height: 28px;
}

/* DEMOCRATIZE */
.democratize {
    padding: 100px 0;
}

.democratize i {
    color: #ff7065;
    font-size: 20px;
}

/* FOOTER SUB*/
footer {
    position: relative;
}

footer .footer_both {
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: -112px;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

footer .footer_item h4 {
    font-size: 35px;
    line-height: 40px;
    color: black;
    font-weight: 600;
}

footer .footer_item p {
    font-size: 15px;
    color: #707070;
    letter-spacing: 1px;
}

footer .footer_item form {
    display: flex;
}

footer .footer_item form:focus {
    border: 1px solid #91e6c4;
}

footer .footer_item input {
    border: 1px solid #ccc !important;
    background: transparent;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    color: black;
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    height: 55px;
}

footer .footer_item button {
    background-color: #0d369f;
    border: none;
    color: #fff;
    padding: 16px 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0 8px 8px 0;
    transition: all 0.5s;
}

footer .footer_item button:hover {
    background-color: #0d369f;
    color: white;
    opacity: 0.9;
}

/* FOOTER MAIN */
footer {
    padding-top: 80px;
    background: #060e1f;
}

footer .footer_main {
    padding: 80px;
}

footer .footer_main h6 {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
}

footer .footer_item ul {
    padding-left: 0;
}

footer .footer_item ul li {
    list-style-type: none;
    padding: 10px 0;
}

footer .footer_item ul li a {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    margin: 0 0 10px 0;
    text-decoration: none;
    cursor: pointer !important;
    margin: 10px 0;
    transition: all 0.5s;
}

footer .footer_item ul li a:hover {
    color: #fff;
}

footer .footer_item i {
    margin-right: 5px;
    display: inline-block;
    font-size: 14px !important;
    color: #fff;
    line-height: 14px;
}

footer .icon3 a {
    margin-top: 40px;
    padding: 10px 0;
}

footer .icon3 i {
    margin-right: 10px;
}

footer .icon4 {
    border-left: 1px solid rgba(23, 54, 88, 0.4);
    padding-left: 48px;
    padding-right: 15px;
}

footer .icon4 ul li {
    display: inline-block;
    margin-right: 5px;
}

footer .icon4 a {
    color: #fff;
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.06);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

footer .icon4 a:hover {
    opacity: 0.8;
    transition: 0.3s ease;
}

footer .icon4 i {
    font-size: 15px;
    line-height: 35px;
    margin-left: 5px;
}

footer .icon4 p {
    color: #cecece !important;
}

footer .footer_copy {
    background-color: black;
}

/* COPY RIGHT */
.copy {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.copy p {
    font-size: 15px;
    margin-bottom: 0 !important;
    color: #a0a0a0;
}

.copy span {
    color: white;
}

.copy span:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* BACK TO TOP */
.back_to_top {
    position: fixed;
    bottom: 90px;
    right: 15px;
    z-index: 999;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 40px;
    height: 40px;
    background-color: #0d369f !important;
    border-radius: 4px;
    padding: 0;
}

.back_to_top i {
    line-height: 40px;
    margin-left: 15px;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

/* body .cd-top--is-visible {
      visibility: visible;
      opacity: 1;
  } */

@media (max-width: 1240px) {
    h1 {
        font-size: 2.5rem !important;
    }

    p,
    li {
        font-size: 15px !important;
    }

    /* CAROUSEL */
    .about_carousel_content {
        padding-top: 100px;
    }

    /* FOOTER */
    .footer_main {
        padding: 0 !important;
        padding-top: 80px !important;
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 2rem !important;
    }

    p,
    li {
        font-size: 15px !important;
    }

    /* CAROUSEL */
    .about_carousel_content {
        padding-top: 100px;
    }

    /* FOOTER */
    .footer_main {
        padding: 0 !important;
        padding-top: 80px !important;
    }
}

@media (max-width: 995px) {
    h1 {
        font-size: 2rem !important;
    }

    p,
    li {
        font-size: 15px !important;
    }

    /* CAROUSEL */
    .about_carousel_content {
        padding-top: 90px;
    }

    /* GROUP */
    .item3 {
        margin: 0 auto;
    }

    /* FOOTER */
    .footer_main {
        padding: 0 !important;
        padding-top: 80px !important;
    }

    .icon4 {
        border-left: unset !important;
        padding-left: 0 !important;
    }
}

@media (max-width: 826px) {
    h1 {
        font-size: 1.5rem !important;
    }

    .fs-5,
    li {
        font-size: 15px !important;
    }

    h3 {
        font-size: 35px !important;
    }

    h4 {
        font-size: 25px !important;
    }

    /* HEADER */
    .header_top {
        display: none;
    }

    /* CAROUSEL */
    .about_carousel_content {
        padding-top: 50px;
    }

    /* GROUP */
    .item3 {
        margin-left: 0px !important;
    }

    /* DEMOCRATIZE */
    .democratize_sub {
        padding-bottom: 40px;
    }

    /* FOOTER */
    .footer_main {
        padding: 0 !important;
        padding-top: 80px !important;
    }

    .icon4 {
        border-left: unset !important;
        padding-left: 0 !important;
    }
}

@media (max-width: 620px) {
    h1 {
        font-size: 1.5rem !important;
    }

    .fs-5,
    li {
        font-size: 15px !important;
    }

    h3 {
        font-size: 35px !important;
    }

    h4 {
        font-size: 25px !important;
    }

    /* HEADER */
    .header_top {
        display: none;
    }

    /* CAROUSEL */
    .about_carousel_content {
        padding-top: 50px;
    }

    /* DEMOCRATIZE */
    .democratize_sub {
        padding-bottom: 40px;
    }

    /* FOOTER */
    .footer_main {
        padding: 0 !important;
        padding-top: 80px !important;
    }

    .item3 {
        margin-left: 0px !important;
    }

    .icon4 {
        border-left: unset !important;
        padding-left: 0 !important;
    }
}