/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 55px !important;
}

/* HEADER TOP */
.header_top .navbar {
  background-color: #0d369f !important;
}

.header_top .navbar a {
  font-size: 15px;
  font-weight: 500;
  margin-right: 20px;
  transition: all 0.5s;
}

.header_top .navbar a:hover {
  color: #ff6e65 !important;
}

/* HEADER */
header {
  position: sticky;
  top: 0;
  z-index: 999999999;
}

header .navbar {
  padding: 20px 10px;
}

header .fa-solid {
  position: absolute;
  color: #0d369f;
  right: 5px;
  top: 15px;
  padding: 0px 20px 0px 0px;
}

header .navbar-brand {
  font-size: 26px;
  color: #0d369f;
  font-weight: 600;
}

header a.navbar-brand {
  transition: all 0.5s;
}

header a.navbar-brand:hover {
  color: #ff6e65;
}

header .navbar-nav .nav-item {
  padding: 0 6px;
  transition: all 0.5s ease;
  position: relative;
}

header .navbar-nav .nav-item .down {
  top: 10px;
  right: -28px;
  font-size: 14px;
  color: #707070;
}

header .navbar-nav .nav-link {
  padding: 6px 0;
  font-size: 16px;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.5s;
}

header .navbar-nav .dropdown-item {
  color: black;
  padding: 5px 24px;
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  transition: all 0.5s;
}

header .navbar-nav .nav-link:hover,
header .navbar-nav .dropdown-item:hover {
  color: #ff6e65;
}

header .dropdown-toggle::after {
  display: none;
}

header span {
  margin-left: 5px;
}

header .nhap {
  font-size: 15px;
  color: black;
  border: none;
  background: transparent;
  padding: 10px 40px;
  width: 100%;
  border-radius: 30px;
  border: 2px solid #eee;
}

header .nhap:focus {
  outline: none;
  box-shadow: none;
}

/* CAROUSEL */

.carousel {
  background-image: url("./../img/bg4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
}

.about_carousel_content {
  transform: translateY(100%);
}

/* GET IN TOUCH */
.get_in_touch i {
  color: #ff6e65;
}

.get_in_touch a {
  transition: all 0.2s;
}
.get_in_touch a:hover {
  color: #ff6e65 !important;
}

/* QUESTION */
.question .question_title {
  margin-bottom: 48px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
}

.question .question_title::before {
  content: "";
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
  left: -20px;
  bottom: -8px;
}

.question .question_title::after {
  content: "";
  background: #707070;
  width: 60px;
  height: 2px;
  position: absolute;
  right: 0;
  margin: 0 auto;
  left: 20px;
  bottom: -15px;
}

.ask_question img {
  width: 35%;
  margin-right: 50px;
  border-radius: 10px;
}

.input_question {
  width: 50%;
}
.ask_question input,
.ask_question textarea {
  background-color: #f9f9f9;
  border-radius: 5px !important;
}

.input_question button {
  margin-top: 24px;
  background-color: #ff6e65 !important;
  color: white;
  padding: 14px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s;
}
.input_question button:hover {
  background-color: #0d369f !important;
  color: #fff;
}

.ask_question textarea {
  height: 200px;
}

.question {
  margin-bottom: 200px;
}

/* FOOTER SUB*/
footer {
  position: relative;
}

footer .footer_both {
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: -112px;
  box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

footer .footer_item h4 {
  font-size: 35px;
  line-height: 40px;
  color: black;
  font-weight: 600;
}

footer .footer_item p {
  font-size: 15px;
  color: #707070;
  letter-spacing: 1px;
}

footer .footer_item form {
  display: flex;
}

footer .footer_item form:focus {
  border: 1px solid #91e6c4;
}

footer .footer_item input {
  border: 1px solid #ccc !important;
  background: transparent;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  color: black;
  width: 100%;
  border-radius: 8px 0px 0px 8px;
  height: 55px;
}

footer .footer_item button {
  background-color: #0d369f;
  border: none;
  color: #fff;
  padding: 16px 30px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 0 8px 8px 0;
  transition: all 0.5s;
}

footer .footer_item button:hover {
  background-color: #0d369f;
  color: white;
  opacity: 0.9;
}

/* FOOTER MAIN */
footer {
  padding-top: 80px;
  background: #060e1f;
}

footer .footer_main {
  padding: 80px;
}

footer .footer_main h6 {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
  font-weight: bold;
}

footer .footer_item ul {
  padding-left: 0;
}

footer .footer_item ul li {
  list-style-type: none;
  padding: 10px 0;
}

footer .footer_item ul li a {
  font-size: 14px;
  line-height: 24px;
  color: #cecece;
  margin: 0 0 10px 0;
  text-decoration: none;
  cursor: pointer !important;
  margin: 10px 0;
  transition: all 0.5s;
}

footer .footer_item ul li a:hover {
  color: #fff;
}

footer .footer_item i {
  margin-right: 5px;
  display: inline-block;
  font-size: 14px !important;
  color: #fff;
  line-height: 14px;
}

footer .icon3 a {
  margin-top: 40px;
  padding: 10px 0;
}

footer .icon3 i {
  margin-right: 10px;
}

footer .icon4 {
  border-left: 1px solid rgba(23, 54, 88, 0.4);
  padding-left: 48px;
  padding-right: 15px;
}

footer .icon4 ul li {
  display: inline-block;
  margin-right: 5px;
}

footer .icon4 a {
  color: #fff;
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.06);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

footer .icon4 a:hover {
  opacity: 0.8;
  transition: 0.3s ease;
}

footer .icon4 i {
  font-size: 15px;
  line-height: 35px;
  margin-left: 5px;
}

footer .icon4 p {
  color: #cecece !important;
}

footer .footer_copy {
  background-color: black;
}

/* COPY RIGHT */
.copy {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.copy p {
  font-size: 15px;
  margin-bottom: 0 !important;
  color: #a0a0a0;
}

.copy span {
  color: white;
}

.copy span:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* BACK TO TOP */
.back_to_top {
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 999;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: #0d369f !important;
  border-radius: 4px;
  padding: 0;
}

.back_to_top i {
  line-height: 40px;
  margin-left: 15px;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

/* body .cd-top--is-visible {
        visibility: visible;
        opacity: 1;
    } */

/* RESPONSIVE */
@media (max-width: 768px) {
  /*HEADER  TOP*/
  .header_top {
    position: relative;
    display: none;
  }

  /* HEADER */
  header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  header .navbar {
    background-color: rgba(0, 0, 0, 0) !important;
  }

  header .navbar-nav {
    background-color: white;
    padding: 20px;
    margin-top: 16px;
  }

  header .nhap {
    background-color: white !important;
  }

  header .navbar-nav .nav-item {
    text-align: center;
  }

  .get_in_touch iframe {
    width: 140%;
  }
  .ask_question img {
    max-width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  /*HEADER  TOP*/
  .header_top {
    position: relative;
    display: none;
  }

  /* HEADER */
  header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  header .navbar {
    background-color: rgba(0, 0, 0, 0) !important;
  }

  header .navbar-nav {
    background-color: white;
    padding: 20px;
    margin-top: 16px;
  }

  header .nhap {
    background-color: white !important;
  }

  header .navbar-nav .nav-item {
    text-align: center;
  }

  .get_in_touch iframe {
    width: 150%;
  }
  .ask_question img {
    max-width: 100%;
  }
  footer .footer_main {
    margin-top: 50px;
  }

  footer .icon4 {
    padding: 0 15px;
  }

  footer .footer_both {
    margin: 0 16px;
  }
}

@media (min-width: 993px) {
}
