/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* ULITILY CLASS */
.nen {
    background-color: #F8F9FF;
    padding: 64px 32px;
}

.nen_nho {
    background-color: #F8F9FF;
}

.vien {
    padding: 32px;
    border-width: 8px;
    border: solid #f8f9ff;
    margin-top: 16px;
}

h4 {
    font-size: 24px;
    color: black;
    padding: 24px 0;
    font-weight: bold;
}

h5 {
    color: #0d369f;
    font-size: 1.4em;
    font-weight: 600;
    padding: 24px 0;
}


/* HEADER TOP */
.header_top .navbar {
    background-color: #0D369F !important;
}

.header_top .navbar a {
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
    transition: all 0.5s;
}

.header_top .navbar a:hover {
    color: #FF6E65 !important;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    z-index: 100;
}

header .navbar {
    padding: 16px;
}

header .navbar a.navbar-brand {
    color: #0D369F;
    font-size: 26px;
    font-weight: 600;
    transition: all 0.5s;
}

header .navbar a.navbar-brand:hover {
    color: #FF6E65 !important;
}

header .navbar a.nav-link,
header .dropdown-menu a.dropdown-item {
    color: #060606;
    padding: 6px 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 12px !important;
    transition: all 0.5s;
}

header .dropdown-menu a.dropdown-item {
    padding: 5px 12px !important;
}

header .navbar a.nav-link:hover {
    color: #FF6E65 !important;
}

header .dropdown-menu a.dropdown-item:hover {
    color: #FF6E65 !important;
}

header .navbar-collapse {
    display: flex !important;
    justify-content: flex-end;
}

header .navbar-collapse form input {
    font-size: 15px;
    border: none;
    background: transparent;
    padding: 10px 35px 10px 20px;
    width: 100%;
    border-radius: 30px;
    border: 2px solid #eee;
}

header .navbar-collapse form input:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid #eee;
}

header .navbar-collapse form button {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #0D369F;
    transition: all 0.5s;
}

header .navbar-collapse form button:hover {
    color: #FF6E65 !important;
}

header .navbar-collapse i.fa-regular:hover {
    color: #FF6E65 !important;
    cursor: pointer;
}

/* BANNER */
.banner {
    background-image: url("./../img/bg4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 48px;
}

.banner .banner_item {
    top: -20px;
}

.banner .banner_item h1 {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 24px;
}

.banner .banner_item a,
.banner .banner_item span {
    color: #d4d4d4;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    transition: all 0.5s;
}

.banner .banner_item a:hover {
    color: white;
}


/* COMPONENTS */
.components {
    padding: 48px 0;
}

.components .components_title h3 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    position: relative;
}

.components .components_title h3::before {
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
    left: -20px;
    bottom: -8px;
}

.components .components_title h3::after {
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    margin: 0 auto;
    left: 20px;
    bottom: -15px;
}

.components .hello {
    padding: 32px;
    border-width: 8px;
    border: solid #f8f9ff;
    margin-top: 16px;
}

.components .hello_content {
    background-color: #F8F9FF;
    padding: 64px 32px;
}

.components .hello_content button:hover {
    background-color: #ff6e65;
    border-color: #ff6e65;
}

.components .vien nav {
    background-color: #F8F9FF;
}

.components .bd-highlight {
    background-color: white;
    border: 1px solid #eee;
}

.components .list-group-item {
    background-color: #F8F9FF;
}

.components .list-group-item.active {
    background-color: #0D369F !important;
    color: white;
}


.components table {
    padding: 2rem;
    border: 2px solid #dee2e6;
    margin-top: 1rem;
}

.components th {
    vertical-align: bottom;
    border: 2px solid #dee2e6;
    background-color: #F8F9FF;
}

.components td {
    vertical-align: bottom;
    border: 2px solid #dee2e6;
}

.breadcrumb li {
    padding: 12px 16px;
}

.badge-secondary {
    background-color: #0d369f;
}

.badge-primary {
    background-color: #0d369f;
}



/* FOOTER SUB*/
footer {
    position: relative;
    margin-top: 300px;
}

footer .footer_both {
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: -150px;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}

footer .footer_item h4 {
    font-size: 35px;
    line-height: 40px;
    color: black;
    font-weight: 600;
}

footer .footer_item p {
    font-size: 15px;
    color: #707070;
    letter-spacing: 1px;
}

footer .footer_item form {
    display: flex;
}

footer .footer_item form:focus {
    border: 1px solid #91e6c4;
}

footer .footer_item input {
    border: 1px solid #ccc !important;
    background: transparent;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    color: black;
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    height: 55px;
}


footer .footer_item button {
    background-color: #0D369F;
    border: none;
    color: #fff;
    padding: 16px 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0 8px 8px 0;
    transition: all 0.5s;
}

footer .footer_item button:hover {
    background-color: #0D369F;
    color: white;
    opacity: 0.9;
}


/* FOOTER MAIN */
footer {
    padding-top: 80px;
    background: #060e1f;
}

footer .footer_main {
    padding: 80px;
}

footer .footer_main h6 {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
}

footer .footer_item ul {
    padding-left: 0;
}

footer .footer_item ul li {
    list-style-type: none;
    padding: 10px 0;
}

footer .footer_item ul li a {
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    margin: 0 0 10px 0;
    text-decoration: none;
    cursor: pointer !important;
    margin: 10px 0;
    transition: all 0.5s;
}

footer .footer_item ul li a:hover {
    color: #fff;
}

footer .footer_item i {
    margin-right: 5px;
    display: inline-block;
    font-size: 14px !important;
    color: #fff;
    line-height: 14px;
}

footer .icon3 a {
    margin-top: 40px;
    padding: 10px 0;
}

footer .icon3 i {
    margin-right: 10px;
}

footer .icon4 {
    border-left: 1px solid rgba(23, 54, 88, 0.4);
    padding-left: 48px;
    padding-right: 15px;
}

footer .icon4 ul li {
    display: inline-block;
    margin-right: 5px;
}

footer .icon4 a {
    color: #fff;
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.06);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

footer .icon4 a:hover {
    opacity: 0.8;
    transition: 0.3s ease;
}

footer .icon4 i {
    font-size: 15px;
    line-height: 35px;
    margin-left: 5px;
}

footer .icon4 p {
    color: #cecece !important;
}

footer .footer_copy {
    background-color: black;
}

/* COPY RIGHT */
.copy {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.copy p {
    font-size: 15px;
    margin-bottom: 0 !important;
    color: #a0a0a0;
}

.copy span {
    color: white;
}

.copy span:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* BACK TO TOP */
.back_to_top {
    position: fixed;
    bottom: 90px;
    right: 15px;
    z-index: 999;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 40px;
    height: 40px;
    background-color: #0d369f !important;
    border-radius: 4px;
    padding: 0;
}

.back_to_top i {
    line-height: 40px;
    margin-left: 15px;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}


/* RESPONSIVE */
@media (max-width: 768px) {

    /*HEADER  */
    .header_top {
        display: none;
    }

    header .navbar-collapse {
        display: none !important;
    }

    header .navbar-collapse.show {
        display: block;
    }

    footer .footer_both {
        margin: 0 20px;
    }

    footer .footer_main {
        margin-top: 150px;
        padding: 0;
    }

    footer .footer_main .icon4 {
        padding: 0 12px;
    }

    .components .code {
        padding: 26px;
        background-color: #F8F9FF;
    }

}

@media (min-width: 769px) and (max-width: 992px) {

    /*HEADER  */
    .header_top {
        display: none;
    }

    header .navbar-collapse {
        display: none !important;
    }

    header .navbar-collapse.show {
        display: block;
    }

    /* WELCOME */
    .welcome .item3 {
        transform: translateX(50%);
    }

    .feedback .item3 {
        transform: translateX(50%);
    }

    .contact .contact_img img {
        transform: translateX(50%);
    }

    footer .footer_main {
        margin-top: 100px;
        padding: 0;
    }

    footer .icon4 {
        padding: 0 15px;
    }

    footer .footer_both {
        margin: 0 16px;
    }

    .components .code {
        padding: 26px;
        background-color: #F8F9FF;
    }


}

@media (min-width: 993px) {}