/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER TOP */
.header_top .navbar {
    background-color: #0D369F !important;
}

.header_top .navbar a {
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
    transition: all 0.5s;
}

.header_top .navbar a:hover {
    color: #FF6E65 !important;
}

/* HEADER */
header .navbar {
    padding: 16px;
}

header .navbar a.navbar-brand {
    color: #0D369F;
    font-size: 26px;
    font-weight: 600;
    transition: all 0.5s;
}

header .navbar a.navbar-brand:hover {
    color: #FF6E65 !important;
}

header .navbar a.nav-link,
header .dropdown-menu a.dropdown-item {
    color: #060606;
    padding: 6px 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 12px !important;
    transition: all 0.5s;
}

header .dropdown-menu a.dropdown-item {
    padding: 5px 12px !important;
}

header .navbar a.nav-link:hover {
    color: #FF6E65 !important;
}

header .dropdown-menu a.dropdown-item:hover {
    color: #FF6E65 !important;
}

header .navbar-collapse {
    display: flex !important;
    justify-content: flex-end;
}

header .navbar-collapse form input {
    font-size: 15px;
    border: none;
    background: transparent;
    padding: 10px 35px 10px 20px;
    width: 100%;
    border-radius: 30px;
    border: 2px solid #eee;
}

header .navbar-collapse form input:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid #eee;
}

header .navbar-collapse form button {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #0D369F;
    transition: all 0.5s;
}

header .navbar-collapse form button:hover {
    color: #FF6E65 !important;
}

header .navbar-collapse i.fa-regular:hover {
    color: #FF6E65 !important;
    cursor: pointer;
}

/* CAROUSEL */
.carousel {
    width: 100%;
    height: 100%;
}


.carousel .carousel_banner1 {
    background-image: url("./../img/banner2.jpg");
    background-size: cover;
    width: 100vw;
    height: 90vh;


}

.carousel .carousel_banner1 h1 {
    font-size: 70px;
    line-height: 80px;
    font-weight: bold;
    color: #fff;

    top: 50px;
    left: 50px;
}